@import '@taiga-ui/core/styles/taiga-ui-local';

.header-wrapper {
  background-color: var(--tui-base-02);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.header-setting {
  margin-left: auto;
}

.header-search {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 800px;
  gap: 20px;
}

.header-user {
  display: flex;
  flex-direction: row;
  gap: 20px;

  margin-right: 20px;
  margin-left: auto;
}

.header-search-input {
  flex-grow: 2;
}
