<header>
  <div class="header-wrapper">
    <a routerLink="/main">
      <img ngSrc="assets/images/logo.png" width="100" height="100" priority class="header__logo" />
    </a>
    <button
      tuiIconButton
      icon="tuiIconSettingsLarge"
      type="button"
      size="l"
      appearance="secondary-destructive"
      class="header-setting"
      [tuiDropdown]="dropdownContent"
      [tuiDropdownManual]="isSearchSettingsMenuOpen"
      (click)="settingsOnClick()"
      (tuiActiveZoneChange)="onActiveZone($event)"
    ></button>
    <ng-template #dropdownContent tuiDropdownAlign="right" tuiDropdownLimitWidth="min"
      ><app-search-settings></app-search-settings>
    </ng-template>
    <form [formGroup]="searchForm" class="header-search" tuiTextfieldSize="l" tuiAction>
      <tui-input
        formControlName="searchInput"
        class="header-search-input"
        [tuiTextfieldCleaner]="true"
      >
        Type a video name
        <input tuiTextfield />
      </tui-input>
    </form>
    <div class="header-user">
      <p class="tui-text_body-m-2">{{ userName$ | async }}</p>
      <ng-template #authorized>
        <a tuiButton appearance="accent" shape="square" size="l" [routerLink]="['/admin']">Admin</a>
        <button
          tuiIconButton
          icon="tuiIconLogInLarge"
          appearance="accent"
          shape="rounded"
          (click)="logout()"
        ></button>
      </ng-template>
      <div *ngIf="userCredentials$ | async; then authorized; else notAuthorized"></div>
      <ng-template #notAuthorized>
        <button
          tuiIconButton
          icon="tuiIconUserLarge"
          appearance="accent"
          shape="rounded"
          (click)="login()"
        ></button>
      </ng-template>
    </div>
  </div>
</header>
